app = "entry-share-pal"
primary_region = "lax"

[build]
  builder = "heroku"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true

[[services]]
  protocol = "tcp"
  internal_port = 3000

  [services.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 100